@model Online_Kurs_Platformu.Models.Admin
@{
	ViewBag.Title = "Index";
}

@* @{
	Layout = null;
} *@
	
		<body>
    <div class="row d-flex justify-content-center align-items-center box">
        @using (Html.BeginForm("NewAdmin", "Register")){
        <div class="col">
            <p class="uni">Online Kurs Platformu Admin</p>
            <div class="row">
                <div class="col">
                    <div class="Login">  @Html.LabelFor(a => a.Id)</div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div> @Html.TextBoxFor(a => a.Id, new { @class = "form-control" })</div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="Login">@Html.LabelFor(a => a.Sifre)</div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col">
                    <div> @Html.TextBoxFor(a => a.Sifre, new { @class = "form-control", type = "Password" })</div>
                </div>
                <div class="col p-sm-0 d-flex align-items-center">
                    <button class="material-icons visibility i button2" onclick="myFunction()">
                        visibility_off
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="submit" value="Register" class="button1" />
                </div>
            </div>

        </div>}
    </div>

    <script>
        function myFunction() {
            var x = document.getElementById("pwd");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

    <script>
        const visibilityToggle = document.querySelector('.visibility');

        const input = document.querySelector('.input-container input');

        var password = true;

        visibilityToggle.addEventListener('click', function () {
            if (password) {
                visibilityToggle.innerHTML = 'visibility';
            } else {
                visibilityToggle.innerHTML = 'visibility_off';
            }
            password = !password;

        });
    </script>
</body>